@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using BlazorAppDemo.ModelsDto
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div>
    SignalR Status : @IsConnected
    Status Updated On : @updatedOn
</div>


<h3>Incoming Reviews</h3>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>User (C)</th>
            <th>Rating (F)</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in empList)
        {
            <tr>
                <td>@emp.Id</td>
                <td>@emp.User.Name</td>
                <td>@emp.Rating</td>
                <td>@emp.Message</td>

            </tr>
        }
    </tbody>
</table>

@code {
    private HubConnection? hubConnection;
    public List<ReviewDTO> empList;
    public List<string> stringList = new List<string>();
    public string updatedOn;
    protected override async Task OnInitializedAsync()
    {
        empList = new List<ReviewDTO>();
        hubConnection = new HubConnectionBuilder()
        .WithUrl("http://localhost:12143/signalhub")
        .Build();

        hubConnection.On<ReviewDTO>("Receivereview", async (incomingEmployee) =>
        {
            empList.Add(incomingEmployee);
            updatedOn = DateTime.Now.ToLongTimeString();
            await InvokeAsync(() =>
           {
               StateHasChanged();
           });
        });

        await hubConnection.StartAsync();
    }
    public bool IsConnected =>
    hubConnection?.State == HubConnectionState.Connected;
}